# Virtual environment
venv/

# Directories to ignore (will revise once working outside supervisor-agent)
authserver/
backup/
# Capstone/j
CAPSTONEPROJECT/
calendar-agent/
gdocs-agent/
gdrive-agent/
gmail-agent/
kb-lambda/
knowledge-base/
Mapping-agent/
Sheets-agent/
testing/
quota-lambda/
token-quota-service/
zDocs/

# All markdown files at root
*.md

# Misc
__pycache__/
*.pyc
*.db
*.sqlite3
package-lock.json
